@tailwind base;
@tailwind components;
@tailwind utilities;

.open {
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translate(6px, 6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translate(-6px,6px);
}